<template>
    <div>
        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Producto Contenido</th>
                                        <th>Fecha de creacion</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr v-for="(category,index) in getCategorys" :key="index" :value="category.id">
                                            <td>{{category.name}}</td>
                                            <td>{{category.added}}</td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'AllCategory',
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>