<!--<template>
    <div>
        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nombre de la Tienda</th>
                                        <th>Propietario</th>
                                        <th>Direccion</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr v-for="(pedidos,index) in getPedidos" :key="index" :value="pedidos.id">
                                            <td>{{pedidos.tienda}}</td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'AllPedidos',
    computed:{
        ...mapGetters({
            getPedidos:'pedidos/get_all_pedidos'
        })
    },
    methods:{
        ...mapActions({
            get_all_pedidos:'pedidos/getPedidosAll'
        }),
    },
    mounted(){
            this.get_all_pedidos()
    }
}
</script>-->