<template>
    <div>
        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nombre de la Tienda</th>
                                        <th>Propietario</th>
                                        <th>Direccion</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr v-for="(tienda,index) in getTiendas" :key="index" :value="tienda.id">
                                            <td>{{tienda.nombre}}</td>
                                            <td>{{tienda.propietario}}</td>
                                            <td>{{tienda.direccion}}</td>

                                        </tr>
                                    </tbody>
                            </table>
                        </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'AllTiendas',
    computed:{
        ...mapGetters({
            getTiendas:'tienda/get_all_tiendas'
        })
    },
    methods:{
        ...mapActions({
            get_all_tiendas:'tienda/getTiendasAll'
        }),
    },
    mounted(){
            this.get_all_tiendas()
    }
}
</script>