<template>
    <div>
        <NavHome :color="color"/>
       <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"></div>
                <div class="masthead-heading text-uppercase">Chescos Don Chelo</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Ver más</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Servicios</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Realiza tus pedidos</h4>
                        <p class="text-muted">Realiza tus pedidos de jugos y refrescos con nosotros</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Desde un dispositivo con accseso a internet</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Seguridad de entrega</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase"><b color="black">Productos</b></h2>
                    <h3 class="section-subheading text-muted">Tenemos una variedad de productos a eleccion</h3>
                </div>
                <div class="row" >
                    <div class="col-lg-4 col-sm-6 mb-4" v-for="(post,index) in pubiblicaciones.data" :key="index">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img :src="post.photo" width="100%" height="300px"/>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{post.title}}</div>
                                <div class="portfolio-caption-subheading text-muted">{{post.body}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex' 
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return{
            color:'trnaparente'
        }
    },
    components:{NavHome},
    computed:{
        ...mapGetters({
            pubiblicaciones:'post/get_publicaciones'
        })
    },
    methods:{
        ...mapActions({
            get_publicaciones:'post/get_todas_publicaciones',
        }),
    },
    created(){
        this.get_publicaciones()
    },
}
</script>