<template>
    <div>
      <p>Aqui Realizaremos pedidos</p>
      <div class="card shadow mb-4" >
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Registrar Pedido</h4>
                        </div>
                        <form  @submit.prevent = "submit" id="createPost">
                        <div class="card-header py-3">
                            <h6>Seleccionar la tienda</h6>
                            <select class="form-control" id="tienda" name="tienda" >
                                <option selected="true" disabled="disabled" value="">Seleccione contenido</option>
                                <option v-for="(tienda,index) in getTiendas" :key="index" :value="tienda.id">{{tienda.nombre}}</option>
                            </select>
                        </div>
                        
                        <div class="card-body">
                            
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad por paquete</th>
                                                <th>Precio por paquete</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr v-for="(post,index) in getposts.data" :key="index">
                                                    <td>{{post.title}}</td>
                                                    <td>
                                                        <input type="number"  value="0" min="0" max="100" class="form-control" id="title" :name="post.id"  placeholder="cantidad" >
                                                    </td>
                                                    <td>{{post.precio}} Bs</td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Realizar Pedidos</button>
                        </form>
                    </div>
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex' 
export default {
    name:'Posts',
    computed:{
        ...mapGetters({
            getposts:'post/reponsePosts',
            getTiendas:'tienda/get_all_tiendas'
        })
    },
    methods:{
        ...mapActions({
            getallposts:'post/getAllPost',
            get_all_tiendas:'tienda/getTiendasAll',
            crear_pedido:'pedidos/crearPedido'
        }),
        async submit(){
            
            let form = $('#createPost').serializeArray()
             try {
                await this.crear_pedido(form)
                //$('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
                
            }
        }
    },
    created(){
        this.getallposts()
        this.get_all_tiendas()
    },
}
</script>