<template>
<div>
    <NavHome :color="color"/>
    <form action="#" @submit.prevent = "submit">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Por favor Registrarse </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                <img src="" id="icon" alt="User Icon" />
                </div>

                <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">-->
                    <input type="text" name="name" id="name" v-model="form.name" placeholder="Nombre" autocomplete="off"> 
					<input type="email" name="email" id="email" v-model="form.email" placeholder="Correo Electronico" autocomplete="off"> 
					<input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña" autocomplete="off"> 
					<input type="password" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation" placeholder="Confirmar Contraseña" autocomplete="off"> 
					<input type="submit" name="" value="Registrarse">
            </div>
        </div>
    </form>
</div>
</template>

<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'SignUp',
    components:{NavHome},
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            },
            color:'black'
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>