<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<template>
	<div>
		<NavHome :color="color"/>
		<form action="#" @submit.prevent = "submit">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Por favor ingrese usuario y Contraseña </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                <img src="" id="icon" alt="User Icon" />
                </div>
                <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">-->
                <input type="email" name="email" id="email" v-model="form.email" placeholder="Usuario" autocomplete="off"> 
                <input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña"> 
                <input type="submit" name="" value="Iniciar Secion">
            </div>
        </div>
     </form>
	</div>
</template>


<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
            },
            color:'black'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            try {
				await this.signIn(this.form)
				this.$router.replace({name:'dashboard.post'})	
			} catch (error) {
				let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
            }
        }
    }
}
</script>