<template>
    <div>
        <div class="card mb-4" >
            <div class="card-header">
                Agregar Tienda
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createPost">
                        <div class="form-group">
                            <label for="title">Nombre de la tienda</label>
                            <input class="form-control" id="nombre" name="nombre"  placeholder="Nombre" v-model="form.nombre" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="title">Nombre Propietario</label>
                            <input class="form-control" id="propietario" name="propietario"  placeholder="Propietario" v-model="form.propietario" autocomplete="off">
                        </div>
                         <div class="form-group">
                            <label for="title">Direccion</label>
                            <input class="form-control" id="direccion" name="direccion"  placeholder="Direccion" v-model="form.direccion" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Tienda</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                nombre:'',
                direccion:'',
                propietario:'',
            },
            image:''
        }
    },
    methods:{
        ...mapActions({
            crear_tienda:'tienda/crearTienda',
        }),
        async submit(){
            

            try {
                await this.crear_tienda(this.form)
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
                
            }
        },
    }
}
</script>